th {
    background-color: #ADD8E6;
}

td {
  background-color: 	#D3D3D3;
}

h1 {
  color: #AAD5E3;
}

div.background1 {
  background-color: #B0C4DE;
}

div.background2 {
  background-color: #F5F5F5;
}

div.background3 {
  background-color: #708090;
}
